.section {
  background: #e5e5e5;
}

.section__inner {
  @include container();
  @include for-phone-only {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.section__heading {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: $mainColor;
}

.section__categories {
  @include for-phone-only {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  @include for-phone-only {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.section__categories-list {
  @include reset();
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.section__categories-item {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  padding-right: 20px;
}

.section__categories-item--last {
  margin-left: auto;
  padding-right: 0px;
}

.section__categories-link {
  color: #495057;
  text-decoration: none;
}

.section__categories-link--active {
  color: #d4a373;
  text-decoration: none;
}

.section__categories-link--last {
  color: #495057;
  margin-left: auto;
  text-decoration: none;
}

.section__articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;

  @include for-tablet-down {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-phone-only {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section__articles-cascade {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  @include for-tablet-down {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-phone-only {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
