.article__item {
  max-width: 100%;
  height: 450px;
  margin-top: 30px;
  box-shadow: 10px 5px 5px #afabab;
  border-radius: 5px;
}

.article__item-top {
  position: relative;
}

.article__item-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
}

.article__item-bottom {
  max-height: 285px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.article__item-bottom-date {
  max-width: 100px;
  max-height: 15px;
  left: 70px;
  top: 1065px;
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  color: #6c757d;
}

.article__item-bottom-title {
  max-width: 310px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.article__item-bottom-titleLink {
  max-width: 270px;
  max-height: 50px;
  left: 70px;
  top: 1095px;
  text-decoration: none;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #495057;
}

.article__item-bottom-text {
  height: 50px;
  left: 70px;
  top: 1160px;
  padding-left: 20px;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6c757d;
  border-bottom: 1px solid #6c757d;
  padding-bottom: 30px;
}

.article__area-author-info {
  display: flex;
  align-items: flex-start;
  margin: 5px;
  border-top: 0.5px solid #e5e5e5;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.article__area-author-name {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}

.article__area-author-title {
  position: relative;
  display: flex;
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6c757d;
}

.article__area-author-photo {
  position: relative;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
}

.article__area-author-content {
  padding-top: 5px;
}

.articleItem__link {
  text-decoration: none;
}
