.btn {
  background: beige;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  transition: 1s all;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;

  &:hover {
    background: goldenrod;
  }
}

.btn__loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid $mainColor;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 2s linear infinite;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
