.category {
  padding-right: 10px;
  padding-bottom: 10px;
}

.category__link {
  background: rgba(255, 255, 255, 0.5);
  //background: grey;
  border-radius: 8px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  color: $white;
  text-decoration: none;
  padding: 5px 10px;
}

.category__link--article-page {
  background: grey;
}
