.login {
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.login__inputWrapper {
}

.login__inputWrapper-label {
  display: block;
  font-weight: 600;
}

.login__inputWrapper-input {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid goldenrod;
  box-sizing: border-box;
  padding: 10px;
}

.login__error {
  position: relative;
  background: red;
  margin-bottom: 10px;
  border-radius: 5px;
}
