.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  position: relative;
  background: $white;
  border-radius: 20px;
}

.modal__inner-title {
  left: 20px;
  top: 20px;
  text-decoration: none;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 18px;
  color: #495057;
  letter-spacing: 2px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal__inner-close {
  font-family: 'Lora', serif;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #495057;
  right: 20px;
  top: 20px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  &:hover {
    background-color: goldenrod;
    transition: 1s;
  }
}

.modal__inner-content {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.modal__switcher {
  text-decoration: none;
  color: black;
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 12px;
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
  &:hover {
    text-decoration: underline;
  }
}
