@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@400;700&display=swap');

@import "scss-utils/mixins";
@import "scss-utils/variables";

.header {
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.header__inner {
  width: $width;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: $white;
}

.header__nav-list {
  list-style: none;
  display: flex;
}

.header__nav-item-link {
  padding: 0 12px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: $white;
  letter-spacing: 2px;

  &:hover {
    border-bottom: 2px solid #D4A373;
  }
}

.mainArticle {
  background: url('@/assets/images/heroImage.jpg') center no-repeat;
  background-size: cover;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainArticle__inner {
  width: $width;
}

.mainArticle__heading {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: $white;
  max-width: 530px;
}

.mainArticle__content {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $white;
  max-width: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainArticle__content-divider {
  width: 30px;
  height: 2px;
  display: inline-block;
  background: $white;
  margin: 0 10px;
}

.mainArticle__categories {
  list-style: none;
  padding: 0;
}

.mainArticle__category-link {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  color: $white;
  text-decoration: none;
  padding: 5px 10px;
}

.section__inner {
  @include container();
}

.section__heading {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: $mainColor;
}

.section__categories-list {
  @include reset();
  list-style: none;
  display: flex;
}

.section__categories-item--last {
  margin-left: auto
}

.section__categories-link {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: #495057;
  text-decoration: none;
  padding: 10px 15px;

  &:first-child {
    padding-left: 0;
  }
}

.section__articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.article {
  position: relative;
  background: #000;
  border-radius: 5px;
}

.article__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 5px;
}

.article__content {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  color: $white;
}

.article__categories {
  list-style: none;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}

.article__category-link {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  color: $white;
  text-decoration: none;
  padding: 5px 10px;
}


.footer__upper {
  background: #212529;
}

.footer__bottom {
  background: #343A40;
}

.footer__inner {
  @include container;
}

.footer__inner--grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.footer__section-list {
  @include reset;
  list-style: none;
}

.footer__bottom-text {
  @include reset;
  color: #ffff;
}

.footer__section-title {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer__section-link {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #E5E5E5;
  text-decoration: none;
  padding: 10px 0;
  display: block;
}

.footer__inner--bottom {
  display: flex;
  justify-content: space-between;
  padding: 31px 15px;
}